html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 5vh;
}

h2 {
    font-size: 3vh;
}

a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    border-radius: 3px;
    padding: 1vh;
}

#navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 4em;
    width: 100%;
    z-index: 1000;
}

#navButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#header {

}

#skills {
    background: radial-gradient(#560047, #000000);
    background-attachment: fixed;
}

.nav-button {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin: 0 1vh 0 1vh;
}

.portfolio-tag {
    border-radius: 5vh;
    padding: 1vh;
}

.container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-image {
    max-height: 10vh;
    max-width: 20vh;
    padding-right: 1vh;
}

.contact-image {
    max-height: 5vh;
}

.my-image {
    max-height: 30vh;
    border: 2px solid #560047;
    border-radius: 100%;
}

.header-background {
    background-image: url(images/activity.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.header-blur {
    background: rgba(1, 1, 1, 0.55);
    backdrop-filter: blur(8px);
}

.has-horizontal-flex {
    display: flex;
    flex-direction: row;
}

.main-background {
    background-color: #000000;
}

.secondary-background {
    background-color: #560047;
}

.tertiary-background {
    background-color: #CE00BC;
}

.fourth-background {
    background-color: #FF006C;
}

.fifth-background {
    background-color: #565656;
}

.background-position {
    position: fixed;
    display: block;
}

.background-index {
    z-index: -1;
}

.main-text-color {
    color: #ffffff;
}

.secondary-text-color {
    color: #FF006C;
}

.tertiary-text-color {
    color: #CECECE;
}

.nav-font-size {
    font-size: 2vh;
}

.skill-font-size {
    font-size: 3vh;
}

.remove-button-defaults {
    border: none;
    background: none;
}

.header-padding {
    padding-top: 5em;
}

.text-padding {
    padding-top: 2em;
}

.project-padding {
    padding-top: 1vh;
}

.header {
    vertical-align: middle;
}

.header-shadows {
    text-shadow: 1px 2px #560047;
}

.skill-title-shadows {
    text-shadow: 1.5px 1.5px #CE00BC;
}

.skill-shadows {
    text-shadow: 1px 1px#CE00BC;
}

.fullscreen-section {
    height: 100vh;
    width: 100%;
    overflow: auto;
}

.section-body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

.section-apply {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

.section-space {
    padding-bottom: 10vh;
}

.image-space {
    margin-bottom: 2vh;
}

.paragraph-section {
    width: 50vh;
    text-align: justify;
    line-height: 2;
}

.skill-section {
    justify-content: center;
    vertical-align: middle;
}

.portfolio-section {
    padding: 10vh 0 10vh 0;
    width: 100%;
    overflow: auto;
}

.portfolio-body {
    display: grid;
    grid-template-columns: 50vh 50vh;
    grid-gap: 10vh;
}