body {
    font-family: 'Courier New', Courier, monospace;
}

#main {
    margin: 1em 2em 0 2em;
}

#navBar {
    position: sticky;
    top: 0;
    height: 4em;
}

.nav-button {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin: 1em;
}

.has-horizontal-flex {
    display: flex;
    flex-direction: row;
}

.main-color {
    color: white;
    background-color: #000000;
}

.secondary-color {
    color: white;
    background-color: #560047;
}

.tertiary-color {
    color: white;
    background-color: #CE00BC;
}

.fourth-color {
    color: white;
    background-color: #FF006C;
}

.nav-font-size {
    font-size: larger;
}

.remove-button-defaults {
    border: none;
    background: none;
}

.fullscreen-section {
    height: 100vh;
    width: 100%;
    overflow: auto;
}