.bodyBackground {
    background-color: rgb(50,50,50);
}
.boardContainer {
    margin: 10% auto auto auto;
    width: 10em;
    color: white;
}

.boardGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 1em;
}

.boardSquare {
    background-color: rgb(13, 118, 49);
    color: white;
    border: none;
    border-radius: 10px;
}

#announcer {

}