body {
    color: white;
    background-color: black;
}

.navbar {
    position: sticky;
    top: 0;
    height: 4em;
    background-color: gray;
}

.navButton {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin: 1em;
}

.main {
    margin: 1em 2em 0 2em;
}

.has-horizontal-flex {
    display: flex;
    flex-direction: row;
}

.remove-button-defaults {
    border: none;
    background: none;
}